* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1em;
  
  ul {
    display: flex;
    gap: .5em;
  }
}

div {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  p {
    text-align: center;
    font-size: 2em;
  }

  button {
    border: none;
    background-color: #1113;
    padding: .6em;
  }
}

a {
  text-decoration: none;
  color: black;
}